<div>
	<h2>カテゴリー</h2>
</div>
<div>
	<nav>
		<ul>
		<% categories.each do |c|%>
			<li>
				<%= link_to category_path(c) do %>
				<%= c.category_name %>
				<% end %>
			</li>
		<% end %>
		</ul>
	</nav>
</div>
<div>
	<h2>アーティスト</h2>
</div>
<div>
	<nav>
		<ul>
		<% artists.each do |a|%>
			<li>
				<%= link_to artist_path(a) do %>
				<%= a.artist_name %>
				<% end %>
			</li>
		<% end %>
		</ul>
	</nav>
</div>