
<h1>商品一覧</h1>
<% @products.each do |product| %>

 <li class = "item" >

  <div class = "product-image" >
      <%= link_to product_path(product.id) do %>
      <%= attachment_image_tag product, :image %>
      <% end %>
  </div>

  <div class = "product-info" >
      

      <li> <%= product.artist.artist_name %> </li>
      <li> <%= product.price %> </li>
      <li> <% if product.stock == 0 then %>
             在庫なし
           <% else %>
             在庫あり
           <% end %>
      </li>
</div>
</li>

<% end %>
