<div>
	<h1>アーティスト編集・登録</h1>
</div>

<div>
	<h2>アーティスト新規登録</h2>
	<%= form_for(@artist_new) do |f| %>
	<p>カテゴリー名</p>
	<%= f.text_field :artist_name %>
	<p></p>
	<%= f.submit '追加' %>

	<% end %>
</div>

<%= link_to "商品追加", root_path %>