<h2>アーティスト新規登録</h2>
<p>アーティスト名</p>


<table>
	<thead>
		<tr>
			<th>アーティスト名</th>
			<th>編集ボタン</th>
			<th>削除ボタン</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>なまえ</td>
			<td>編集ボタン</td>
			<td>削除ボタン</td>
		</tr>
	</tbody>
</table>