<div class="container">
    <div class="row">
    	<div class="top col-xs-offset-4">
    		<h2>管理者用</h2>
    	</div>
		<div class="top-button col-xs-2 col-xs-offset-4">
			<div class="login">
			<%= link_to 'Log in', new_admin_session_path, class: 'btn btn-info btn-block sign_in' %>
			</div>
			<div class="signup">
			<%= link_to 'Sign up', new_admin_registration_path, class: 'btn btn-success btn-block sign_up' %>
			</div>
		</div>
	</div>
</div>