<h2>お問い合わせ一覧</h2>

<table>
	<thead>
		<tr>
			<th>お問い合わせ</th>
			<th>メールアドレス</th>
			<th>詳細リンクボタン</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>なまえ</td>
			<td>メールアドレス</td>
			<td>詳細へのリンクボタン</td>
		</tr>
	</tbody>
</table>