<h2>決済画面</h2>

<table class ="table">
		<thead>
			<tr>
				<th colspan="1"></th>
				<th>title</th>
				<th>artist</th>
				<th>値段</th>
				<th>数量</th>
			</tr>
   <p>each do</p>
		<tbody>
			<tr><p>attachment_image_tag</p></tr>

			<tr><p>title</p></tr>

			<tr><p>artist</p></tr>

			<tr><p>price</p></tr>

			<tr><p>stock</p></tr>

<p>radio_button_tag</p>
<p>user.post_code</p>
<p>user.address</p>
<p>user.name</p>

<div>購入</div>