<h2>商品編集</h2>

<p>form_for</p>

  <div class="product_edit">
<label>画像</label>
<p>attachment_field :image_id</p>
</div>

<div class="product_edit">
<label>カテゴリー</label>
<p>check-box :category_id</p>
</div>

<div class="product_edit">
<label>アーティスト</label>
<p>text_field :artist_id</p>
</div>

<div class="product_edit">
<label>シングル名</label>
<p>text_field :title</p>
</div>

<div class="product_edit">
<label>レーベル名</label>
<p>text_field :label</p>
</div>

<div class="product_edit">
<label>発売日</label>
<p>text_field :release</p>
</div>

<div class="product_edit">
<label>値段</label>
<p>text_field</p>
</div>

<div class="product_edit">
<label>在庫数</label>
<p>text_field</p>
</div>

<div class="product_edit">
<label>曲名</label>
<p>text_field :music</p>
</div>

<div class="user_edit">
<label>商品説明</label>
<p>text_area :intriduction</p>
</div>

<p>編集</p>
<p>戻る</p>