<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.label :曲名 %>
    <%= f.text_field :music %>
  </div>
  <div class="form-group">
    <%= f.label :ナンバー %>
    <%= f.number_field :list_num %>
  </div>
</div>