
<h2>User詳細</h2>

    <table class="table">
    	<tbody>
    		
    		<tr>
    			<th>名前</th>
    			<th>user.name</th>
    		</tr>

    		<tr>
    			<th>フリガナ</th>
    			<th>user.kana</th>
    		</tr>

    		<tr>
    			<th>郵便番号</th>
    			<th>user.mail</th>
    		</tr>

    		<tr>
    			<th>住所</th>
    			<th>user.address</th>
    		</tr>

    		<tr>
    			<th>電話番号</th>
    			<th>user.phone</th>
    		</tr>

    		<tr>
    			<th>メールアドレス</th>
    			<th>user.mail</th>
    		</tr>
    	</tbody>
    </table>

	<div>"編集"</div>

	<div>"購入履歴"</div>


	<div>"戻る"</div>
