<div>
	<h2>新規追加</h2>
	<%= render 'form', product_new: @product_new %>
</div>

<div>
	<%= link_to "お問い合わせ一覧", admin_messages_path %>
	<%= link_to "カテゴリー追加", new_category_path %>
	<%= link_to "アーティスト追加", new_artist_path%>
</div>

