<table class="table">
    <tr>
        <th> User情報</th>
        <th></th>
    </tr>

        <tr>
        	<td> フリガナ </td>
        	<td> </td>
      	 </tr>

        <tr>
          <td> 名前 </td>
          <td></td>
        </tr>

        <tr>
          <td> 郵便番号 </td>
          <td></td>
        </tr>

        <tr>
          <td> 住所 </td>
          <td></td>
        </tr>

        <tr>
          <td> 電話番号 </td>
          <td></td>
         </tr>

        <tr>
          <td> メールアドレス </td>
          <td></td>
        </tr>

    </table>

<h2>購入履歴</h2>

      


       <%= link_to "退会", root_path %>
       <%= link_to "戻る", :back %>
